snippet newclass
<?php
namespace $1;

class $2
{
	$0
}
endsnippet

snippet construct
public function __construct($1)
{
	$0
}
endsnippet

snippet pub
public function $1()
{
	$0;
}
endsnippet

snippet pri
private function $1()
{
	$0;
}
endsnippet

snippet pro
protected function $1()
{
	$0;
}
endsnippet
