snippet newclass
<?php
namespace $1;

class $2
{
	$0
}
endsnippet

snippet construct
public function __construct($1)
{
	$0
}
endsnippet

snippet pub
public function $1()
{
	$0;
}
endsnippet

snippet pri
private function $1()
{
	$0;
}
endsnippet

snippet pro
protected function $1()
{
	$0;
}
endsnippet

snippet getter
public function get$1()
{
	return \$this->$2;
}
endsnippet

snippet setter
public function set$1(\$$2)
{
	\$this->$2 = \$$2;
}
endsnippet
